.carousel__container {
    /* max-width: 700px; */
    margin: 0;
  }
  
  /* gives us the illusion of a "centered" slide */
  .carousel__slider {
    padding-left: 2%;
    padding-right: 2%;
  }
  
  /* gives us the illusion of spaces between the slides */
  .carousel__inner-slide {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 2%;
  

  }

  @media only screen and (max-width: 600px) {

    .carousel__slider {
    padding-left: 1%;
    width: 100%;
    padding-right: 1%;
  }
    .carousel__inner-slide {
        width: 20px;
        height: 10px;
        margin: 2%;
        background-color: red;
      
    
      }

  }