html {
	font-size: 62.5%;
	box-sizing: border-box;
	color: #ffffff;
}
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-size: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	background: rgba(11, 11, 17, 0.9);
	/* background-color: var(--background-color); */
}
#root {
	height: 100%;
}

:root {
	--nav-background-color: #ffffff;
	--body-background-color: #000000;
}

/* Layout */
main {
	grid-area: main;
	padding: 1rem;
}
.footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(121, 101, 64);
	height: 10vh;
	background-color: var(--background-color);
}
.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.1rem #a4a4a4 solid;
	font-size: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
button {
	background-color: #ffffff;
	cursor: pointer;
}

button:hover {
	border: 0.1rem #404040 solid;
}
button.primary {
	background-color: #000000;
	color: #ffffff;
}
/* Header */
.mode {
	height: 3rem;
	width: 3rem;
	background-color: #ffffff;
	border-radius: 50%;
}
.mode:hover {
	opacity: 0.8;
	cursor: pointer;
}
.picAndName {
	display: flex;
	
}
.profilePicInNav {
	border: 0.1rem solid #000000;
	height: 5rem;
	width: 5rem;
	margin-bottom: 1rem;
	border-radius: 3rem;
	margin-top: 0.4rem;
}
@media  screen and (max-height: 500px) {
	.profilePicInNav {
		border: 0.1rem solid #000000;
		height: 3rem;
		width: 3rem;
		margin-bottom: 1rem;
		border-radius: 3rem;
		margin-top: 0.4rem;
	}
  }
.allNav {
	display: flex;
}
.nav .container ul a {
	color: #000000;
	margin-left: 30px;
	text-decoration: none;
	transition: 0.5s;
}
header a {
	color: #000000;
	padding: 1rem;
	transition: 0.5s;
}
header a:hover {
	color: rgb(255, 169, 9);
}
a.brand {
	color: #000000;
	font-size: 3.5rem;
	font-weight: bold;
}
a.brand span {
	color: #ffffff;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
/* Alert */
.loading {
	display: block !important;
}
.danger {
	padding: 1rem;
	border-radius: 2rem;
	width: fit-content;
	margin-left: 1rem;
	background-color: #eb0808;
}
.success {
	padding: 1rem;
	border-radius: 2rem;
	width: fit-content;
	margin-left: 1rem;
	background-color: #0dec0d8c;
}
/* Form */
.form {
	max-width: 60rem;
	margin: 0 auto;
}
.form > div {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}
.form label {
	margin: 1rem 0;
}
/* Dropdown */
.dropdown {
	display: inline-block;
	position: relative;
	margin-top: 1.5rem;
}
.dropdown-content {
	position: absolute;
	display: flex;
	margin-left: 2rem;
	display: none;
	right: 0;
	min-width: 10rem;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	z-index: 1;
	border: #000000 solid 0.1rem;
	background-color: #000000;
	margin: 0;
	margin-top: 0.4rem;
	border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
	display: block;
}
/* Common */
a {
	text-decoration: none;
	color: #ffffff;
}
.dropdown-content li {
	margin-top: 0.3rem;
	list-style: none;
}
.dropdown-content li:hover {
	margin-top: 0.3rem;
	background-color: #09606b8e;
	list-style: none;
}
/* Home */

.carouselButton {
	position: absolute;
	top: 50%;
	z-index: 100;
}

.next {
	right: 1rem;
}
.back {
	left: 0rem;
}

/* Table */

.widthMax {
	width: 100%;
}
.btnsDeleteAndEdit {
	display: flex;
	flex-direction: column;
}
/* Profile */
.uploadPicAndThePic {
	display: flex;
}
.profilePic {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profilePic img {
	height: 15rem;
	width: 15rem;
}
img.small {
	border-radius: 50%;
	max-width: 5rem;
	width: 100%;
}
/* Movies Screen */
.movieScreenContainer {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.movie-tv-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.movie {
	background-color: transparent;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgpa(0, 0, 0, 0.1);
	margin: 1rem;
	width: 23rem;
	height: 40rem;
	perspective: 1000px;
	position: relative;
}
.fa-star {
	color: #f8d823;
}
.card-movie-header-chip {
	position: absolute;
	top: 10px;
	height: 20px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(189, 135, 19);
	border-radius: 8px;
	z-index: 100;
}
.vote-avg {
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.movie-year {
	left: 10px;
}
.movie img {
	object-fit: cover;
	width: 23rem;
	height: 85.8%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.movie-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	font-size: 12px;
	cursor: default;
}
.heart {
	cursor: pointer;
	color: #ffffff;
	font-size: 2rem;
}
.heartFavorite {
	color: #eb0808;
}
.heart:hover {
	color: #eb0808;
}
.movie-info h3 {
	margin: 0;
}
.movieDetails {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	color: #22254b;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
	transform: rotateY(180deg);
}
.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	color: #ffffff;
	background: #000000;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.flip-card-front:hover {
	cursor: pointer;
	box-shadow: 0 16px 36px 0 rgba(4, 0, 255, 0.2);
	transform: scale(1.05);
}
/* Favorite */
.favoriteContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.selectFavortie {
	text-align: center;
	width: fit-content;
	margin-bottom: 2rem;
}
.movieFavoriteAndDelete {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.deleteFavorite {
	opacity: 0.8;
	color: #eb0808;
	font-size: 4rem;
}
.deleteFavorite:hover {
	color: #ff0404;
	cursor: pointer;
}
/* Movie Screen */
.youtubeTrailer {
	/* text-align: center; */
	max-width: 100%;
}
.moviesTitle {
	text-align: center;
}

.picture img {
	max-height: 30rem;
	max-width: 100%;
	opacity: 0.8px;
}
.overView {
	text-align: center;
	margin: 2rem 1rem;
}
.rating {
	display: flex;
	margin-top: 1rem;
}
.rating img {
	height: 2rem;
	width: 2rem;
	margin-left: 1.5rem;
}
.genres {
	display: flex;
	margin-top: 1rem;
}
.genre {
	margin-left: 0.5rem;
}
.border {
	border-top: rgb(255, 255, 255) 3px solid;
	width: 100%;
	margin-bottom: 1rem;
}
.actors {
	text-align: center;
}
.actorsName {
	display: flex;
}
.actorNameAndPic:hover {
	background-color: #0b8ba1;
}
.actorNameAndPic img {
	margin-bottom: 1rem;
	border-radius: 2rem;
	width: 10rem;
	height: 12rem;
	color: #061f24;
}
/* Movies By Actor */
.movieByActor {
	/* margin: 0 10rem; */
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
.moviesInActorPage {
	display: flex;
}
.movieByActorNameAndImg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.movieByActorNameAndImg img {
	border-radius: 5rem;
	margin-left: 1.5rem;
	height: 15rem;
	width: 15rem;
}
/* Tv Shows */
.tvShowScreenContainer {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tvShowsTitle {
	text-align: center;
}
.seasonAndTitle {
	display: flex;
}
.allSeasons {
	margin-right: 2rem;
}
.movieScreenContainer2 .imgPoster img {
	margin-top: 2rem;
	border-radius: 5rem;
	height: 10rem;
	width: 10rem;
}
/* ReactPaginate */
.paginationBttns {
	/* margin-left: 8rem; */
	max-width: 80vw;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.paginationBttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid #000000;
	color: #ffffff;
	cursor: pointer;
}
.paginationBttns a:hover {
	color: #ffffff;
	background-color: #000000;
}
.paginationActive a {
	color: #ffffff;
	background-color: #000000;
}

/* Loader */
.loader {
	font-size: 10px;
	margin: 50px auto;
	text-indent: -9999em;
	width: 11em;
	height: 11em;
	border-radius: 50%;
	background: #404040;
	background: -moz-linear-gradient(left, #404040 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #404040 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #404040 10%, rgba(0, 0, 0, 0) 42%);
	background: -ms-linear-gradient(left, #404040 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #404040 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #404040;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #ffffff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
